@charset "utf-8";
/* CSS Document */
body{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    color: #666666
}
.top-bar{
    width: 100%;
    height: 50px;
}
.logo{
    width: 150px;
    min-height: auto;
    line-height: 50px;
}
.menu ul{
    list-style: none;
    padding:0;
    margin: 0;
    line-height: 40px;
    margin-left: 275px;
}
.menu ul li a{
    text-decoration: none;
    color: #6F3334;
    padding: 10px;
}
.icontop{
    line-height: 50px;
    padding-left: 230px;
}
.icontop a{
    padding: 0 5px
}
#banner{
    width: 100%;
    
}
#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}
#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:yellow;
      text-decoration: none; }
.gach-chan{
    border-bottom: 3px solid #AD2628;font-size: 35px
}
#new .sp{
    position: relative;
    overflow: hidden
}
#new .icon{
    position: absolute;
    width: 70%;
    height: 45px;
    left: 15%;
    top: 110%;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
    opacity: 0.0;
}
#new .icon a{
    width: 45px;
    height: 45px;
    background-color: #BDBDBD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: darkred
}
#new .icon a:hover{
    background-color: darkred;
    color: aliceblue;
    opacity: 1;
    
}
#new .sp:hover .icon{
    top:50%;
    opacity: 1;
}
#product{
    width: 100%;
    min-height: 650px;
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom
}
.vien{
    border: 2px solid #FFFFFF;
    text-align: center
}
.vien:hover{
    box-shadow: 5px 5px 10px gray;
    transition: all 0.5s
}
.vien h4{
    color: darkred
}
.vien p a{
    text-decoration: none;
    color: darkred
}
.vien p a:hover{
    color: aliceblue
}
#contact{
    width: 100%;
    min-height: 500px;
    background-image: url("../images/Banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.bong{
    width: 100%;
    min-height: 300px;
    padding: 30px;
    box-shadow: 5px 5px 10px gray;
    border: 1px solid lightgray
    
}